:root{
    /*Les échelles du texte*/
    --miseAEchelle: 1.618;
    --petit-Texte: 16px;
    --moyen-Texte: calc(var(--miseAEchelle)*var(--petit-Texte));
    --gros-Texte: calc(var(--miseAEchelle)*var(--moyen-Texte));
    --Giga-Texte: calc(var(--miseAEchelle)*var(--gros-Texte));
  /*les couleurs*/
    --couleur-or: #F7BD2E;
    --couleur-bleu-stylo:#86B1C9;
    --couleur-vert-pelouse-pale:#C6DB60;
    --couleur-vert-feuille-plante:#6CA450;
    
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  background-color: var(--couleur-vert-pelouse-pale);
  justify-content: space-between;
  padding: 1.5rem 2rem;
  align-items: center;
}

.burger{
  --sizeBtn: 2.5rem;
  width: var(--sizeBtn);
  height: var(--sizeBtn);
  display: grid;
  place-items: center;
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  right: 265px;
  top: 60px;
}
.burger-icon{
  display: flex;
  flex-direction: column;
  width: 28px;
  gap: 6px;
}
.burger-line{
  height: 3px;
  background-color:var(--couleur-vert-feuille-plante);
  transition: transform 1s ease;
}
.burger.is-open .burger-line:nth-child(1){
  transform: translateY(7.5px) rotate(45deg);

}
.burger.is-open .burger-line:nth-child(2){
  width: 0;
  opacity: 0;

}
.burger.is-open .burger-line:nth-child(3){
  transform: translateY(-10px) rotate(-45deg);

}
.overlay{
  position: fixed;
  pointer-events: none;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(2px);
  inset: 0;
  opacity: 0;
  z-index: 99;
}
.overlay.is-open{
  opacity: 1;
  pointer-events: all;
}

.nav{
  background-color: var(--couleur-or);
  width: 320px;
  position: fixed;
  inset: 0 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  transform: translateX(calc(100% - 80px));
  transition: transform 0.4s ease;

  padding: 6rem 6rem 3rem;
  z-index: 200;
}
.nav.is-open{
  transform: translateX(0);
}
.nav-link{
  color:var(--couleur-vert-feuille-plante);
  text-decoration: none;
  padding: 0.6rem 0;
  font-size: 1.6rem;

}