:root{
    /*Les échelles du texte*/
    --miseAEchelle: 1.618;
    --petit-Texte: 16px;
    --moyen-Texte: calc(var(--miseAEchelle)*var(--petit-Texte));
    --gros-Texte: calc(var(--miseAEchelle)*var(--moyen-Texte));
    --Giga-Texte: calc(var(--miseAEchelle)*var(--gros-Texte));
  /*les couleurs*/
    --couleur-or: #F7BD2E;
    --couleur-bleu-stylo:#86B1C9;
    --couleur-vert-pelouse-pale:#C6DB60;
    --couleur-vert-feuille-plante:#6CA450; 

    font-family: Georgia, 'Times New Roman', Times, serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-size: var(--Giga-Texte);
  color:var(--couleur-or);
}
h2{
  font-size: var(--gros-Texte);
  color:var(--couleur-vert-feuille-plante);
}
h3{
  font-size: var(--moyen-Texte);
  color:var(--couleur-vert-feuille-plante);
}
p{
  font-size: var(--moyen-Texte);

}

/* Les lignes qui suivent permettent la réalisation du menu burger  */
header{
  display: flex;
  background-color: var(--couleur-vert-feuille-plante);
  justify-content: space-between;
  padding: 1.5rem 2rem;
  align-items: center;
  text-align: center;
  
}

header > h1,
header > div {
  flex: 1;
}

header > div > img {
  display: flex;
  align-items: flex-start;
}
.burger{
  --sizeBtn: 2.5rem;
  width: var(--sizeBtn);
  height: var(--sizeBtn);
  display: grid;
  place-items: center;
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  right: 265px;
  top: 60px;
}
.burger-icon{
  display: flex;
  flex-direction: column;
  width: 28px;
  gap: 6px;
}
.burger-line{
  height: 3px;
  background-color:var(--couleur-vert-feuille-plante);
  transition: transform 1s ease;
}
.burger.is-open .burger-line:nth-child(1){
  transform: translateY(7.5px) rotate(45deg);

}
.burger.is-open .burger-line:nth-child(2){
  width: 0;
  opacity: 0;

}
.burger.is-open .burger-line:nth-child(3){
  transform: translateY(-10px) rotate(-45deg);

}
.overlay{
  position: fixed;
  pointer-events: none;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(2px);
  inset: 0;
  opacity: 0;
  z-index: 99;
}
.overlay.is-open{
  opacity: 1;
  pointer-events: all;
}

.nav{
  background-color: var(--couleur-or);
  width: 320px;
  position: fixed;
  inset: 0 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  transform: translateX(calc(100% - 80px));
  transition: transform 0.4s ease;

  padding: 6rem 6rem 3rem;
  z-index: 200;
}
.nav.is-open{
  transform: translateX(0);
}
.nav-link{
  color:var(--couleur-vert-feuille-plante);
  text-decoration: none;
  padding: 0.6rem 0;
  font-size: 1.6rem;

}

/* les lignes suivantes sont nécessaires à la mise en page de la page d'accueil */
.maPageAccueil{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 50px;
  align-items: center;
}


/* la première section */
.premiereSectionAccueil{
  display: flex;
  width: 1000px;
  gap: 20px;
  justify-content: center;
}
.sectionListeDeJeuAccueil{
  display: flex;
  flex-direction: column;
}
.premiereSectionAccueil p{
  width: 400px;
}
.jeu:nth-child(3){
  border-bottom: none;
}
.jeu{
  display: flex;
  width: 300px;
  height: 70px;
  background-color: var(--couleur-or);
  border-bottom: 2px solid var(--couleur-or);
}
.sectionAffichageJeuAccueil{
  width:400px;
  height:210px;
}

/* la deuxième section */
.deuxiemeSectionAccueil{
  display: flex;
}
.sectionTextAccueil{
  display: flex;
  flex-direction: column;
  width: 720px;
}
.sectionTextAccueil p{
  text-align: justify;
}

/* la troisième section */
.troisiemeSectionAccueil {
  display: flex;
  gap: 15px;
}
.troisiemeSectionAccueil a{
  color:black;
}
.carteUnJeu{
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 190px;
  padding-bottom: 190px;
  margin-bottom: 60px;
  background-color: var(--couleur-or);
  border-radius: 5px;
}

/* les lignes suivantes sont nécessaires à la mise en page de la page de jeuUn */

/* la première section */
.pageJeuUn{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 75px;
  align-items: center;
}
.banniereJeuUn{
  border-radius: 5px;
}
/* la deuxième section */
.deuxiemeSectionJeuUn{
  display: flex;
  gap: 30px;
}
.carteGamePlay{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  width: 300px;
}
.carteGamePlay img{
  border-radius: 5px;
}

/*la troisième section*/
.troisiemeSectionJeuUn{
  display: flex;
  gap: 30px;
}
.informationsPersonnageJeuUn{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}
.selectionDePersonnageJeuUn{
  display: flex;
  gap: 25px;
}


/* les lignes suivantes sont nécessaires à la mise en page de la page de jeuDeux */

.sectionCarteJeuDeux{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap:75px;
  align-items:center;
}
.infoCarteJeuDeux{
  display: flex;
  width: 600px;
  gap:15px;
}
.infoCarteJeuDeux img{
  border-radius: 5px;
  border: 2px solid var(--couleur-or);
  width:400px;
}
.infoCarteJeuDeux p{
 color: var(--couleur-vert-feuille-plante);
 border: 2px solid var(--couleur-vert-feuille-plante);
 background-color: var(--couleur-or);
 padding: 10px;
 border-radius: 5px;
}
.jeuDeux{
  background-image: url(Images/arrierePlanJeuDeux.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* les lignes suivantes sont nécessaires à la mise en page de la page de jeuTrois */
.sectionUniqueJeuTrois{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 150px;
  align-items: center;
}
.sectionUniqueJeuTrois img{
  border-radius: 5px;
}
.blocHistoireJeuTrois{
  text-align: center;
  width: 800px;
}
.blocHistoireJeuTrois p{
background-color: white;
}
.jeuTrois{
  background-image: url(Images/arrierePlanJeuTrois.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
/* les lignes suivantes sont nécessaires à la mise en page de la page de Support */
.sectionFormulairePageSupport{
  margin-top: 100px;
  display:flex;
  flex-direction:column;
  gap: 20px;
  align-items: center;
}
input{
  border-radius: 10px;
  width: 500px;
  height:100px;
}
textarea{
  width: 500px;
  height: 200px;
}

button{
  border-radius: 10px;
  width:150px;
  height: 50px;
  background-color: var(--couleur-or);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: var(--moyen-Texte);
  border: 2px solid var(--couleur-vert-feuille-plante);
}
button:hover{
  border-top: 2px solid var(--couleur-vert-pelouse-pale);
  border-left: 2px solid var(--couleur-vert-pelouse-pale);
}
